.loadingping-container{
  z-index: 100;
  position: fixed;
  top: 40%;
  background-color: @color4th;
  padding: 20px;
  width: 100%;
  height: 7.5em;
}

.loadingping{
  margin: auto;
  width: 100%;
  height: 5em;
  text-align: center;

  .glyphicon-book{
    font-size: 3rem;
    color: @color5th;
  }
  .glyphicon-search{
    margin-left: -26px;
    font-size: 2rem;
    color: @color2nd;
    @animationDuration: 1s;
    @delay: 10ms;
    @offset: 20%;
    will-change: transform;
    .transform(translate(@offset, @offset));
    .setSearchingIconAnimation(){
      0% {
        .transform(translate(-@offset,@offset));
      }
      25% {
        .transform(translate(-@offset,-@offset));
      }
      50% {
        .transform(translate(@offset, -@offset));
      }
      75% {
        .transform(translate(@offset,@offset));
      }
      100% {
        .transform(translate(0, @offset));
      }
    };


    @-webkit-keyframes loadingPingSearchIconAnimation {
      .setSearchingIconAnimation();
    }
    @-moz-keyframes loadingPingSearchIconAnimation {
      .setSearchingIconAnimation();
    }
    @-o-keyframes loadingPingSearchIconAnimation {
      .setSearchingIconAnimation();
    }
    @keyframes loadingPingSearchIconAnimation {
      .setSearchingIconAnimation();
    }
    .animation(loadingPingSearchIconAnimation @animationDuration ease-out @delay infinite alternate);
  }

  .text{
    color: @color2nd;
  }
}