.phonecard{
  position: relative;
  display: block;
  .drop-shadow(2px, 2px, 2px,0.75);
  background-color: @color2nd;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 8px 12px 8px 48px;
  color: @fontDefaultColor;
  font-family: @fontDefaultBold;
  text-align: left;
  &:hover,&:focus, &.current{
    background-color: @color6th;
  }
  .sprite-sprite{
    position: absolute;
    top: 3px;
    left: 4px;
  }

  //--------------------------------- responsive styles ----------------------------

  .phonecard-smaller-then-tablet-app{
    margin-right: 0;
    margin-bottom: 1px;
  }

  @media only screen and (max-width: 648px){
    .phonecard-smaller-then-tablet-app;
  }


}