a.phonecard(data-js-click="select()", onclick="return false;",
href="javascript:void();", title="show summary for {{item.obj.name}}",
data-js-class="setCurrentCardClass()")
  span(data-js-class="setPhoneCardIconClass()")
  span {{item.obj.name}}
