.app-header{
  @headerFontColor: @color2nd;
  @headerBgColor: @color1st;
  .drop-shadow(0, 2px, 2px, 0.75);
  padding: 10px 0;
  h1{
    margin: 0;
    padding:0;
    color: @headerFontColor;
    font-size: 3.625em;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 1px @fontDefaultColor;
    text-shadow:
      -1px -1px 0 @fontDefaultColor,
      1px -1px 0 @fontDefaultColor,
      -1px 1px 0 @fontDefaultColor,
      1px 1px 0 @fontDefaultColor;
  }

  //--------------------------------- responsive styles ----------------------------
  .app-header-landscape-app{

  }

  .app-header-portrait-app{
    h1{
      font-size: 1.25em;
    }
  }

  .app-header-smaller-than-tablet-app{
    padding: 0;
    height: 1px;
    .drop-shadow(0,0,0,0);
    h1{
      font-size: 0.1em;
      text-indent: -1000em;
      width: 1px;
      height: 1px;
    }
  }

  @media only screen and (max-width: 1025px){
    .app-header-landscape-app;
  }

  @media only screen and (max-width: 860px){
    .app-header-portrait-app;
  }

  @media only screen and (max-width: 648px){
    .app-header-smaller-than-tablet-app;
  }

  // iPad in portrait
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    .app-header-portrait-app;
  }

  /* iPad in landscape */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    .app-header-landscape-app;
  }


}