.phone-card-summary{
  @topBarBgColor: @color1st;
  @innerContainerBgColor: @color2nd;
  @bottomBorderColor: @color4th;
  .drop-shadow(2px, 5px, 5px, 0.75);
  border-bottom: 30px solid @bottomBorderColor;
  width: 100%;
  height: 100%;
  .top-bar{
    padding: 3px 5px;
    height: 30px;
    font-size: 1.25em;
    text-align: right;
    &.leather-bg{
      background-size: cover;
    }
    .btn-close{
      color: @btnDefaultColor;
      &:hover,&:focus{
        color: #fae1af; //For WCAG color contrast
      }
    }
  }
  .inner-container{
    .drop-shadow(0, 2px, 3px, 1);
    background-color: @innerContainerBgColor;
    padding: 20px 20px 40px 20px;
    font-size: 1.125em;
    width: 100%;
    height: 100%;
    min-height: 200px;
    p:last-child{
      margin-bottom: 0;
    }
  }

  //--------------------------------- responsive styles ----------------------------
  .phone-card-summary-landscape-app{

  }

  .phone-card-summary-portrait-app{

  }

  .phone-card-summary-smaller-than-tablet-app{

  }

  @media only screen and (max-width: 1025px){
    .phone-card-summary-landscape-app;
  }

  @media only screen and (max-width: 976px){
    .phone-card-summary-portrait-app;
  }

  @media only screen and (max-width: 648px){
    .phone-card-summary-smaller-than-tablet-app;
  }

  // iPad in portrait
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    .phone-card-summary-portrait-app;
  }

  /* iPad in landscape */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    .phone-card-summary-landscape-app;
  }

}