.phone-card-summary(data-js-show="card")
  .top-bar.leather-bg
    a.btn-close(data-js-click="close()")
      span.glyphicon.glyphicon-remove
      span.sr-only close summary panel
  .inner-container
    p
      strong {{card.name}}
      =' '
      | works in
      =' '
      strong {{card.department}}
      =' '
      | located in
      =' '
      strong {{card.building}}
      |.
