/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../assets/fonts/opensans-regular.woff') format('woff'), url('../../assets/fonts/opensans-regular.ttf') format('truetype'), url('../../assets/fonts/opensans-regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../../assets/fonts/opensans-semibold.woff') format('woff'), url('../../assets/fonts/opensans-semibold.ttf') format('truetype'), url('../../assets/fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansbold';
  src: url('../../assets/fonts/opensans-bold.woff') format('woff'), url('../../assets/fonts/opensans-bold.ttf') format('truetype'), url('../../assets/fonts/opensans-bold.svg#OpenSansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../../assets/fonts/opensans-italic.woff') format('woff'), url('../../assets/fonts/opensans-italic.ttf') format('truetype'), url('../../assets/fonts/opensans-italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BowlbyOne';
  src: url('../../assets/fonts/BowlbyOne.woff') format('woff'), url('../../assets/fonts/BowlbyOne.ttf') format('truetype'), url('../../assets/fonts/BowlbyOne.svg#BowlbyOne') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #524134;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'OpenSansRegular', Arial;
  line-height: 1.5;
}
html iframe {
  border: none ;
}
html a {
  cursor: pointer;
  text-decoration: none;
  color: #141414;
}
html a:hover,
html a:focus {
  color: #141414;
  text-decoration: none;
}
html h1,
html h2,
html h3 {
  font-family: 'BowlbyOne', Arial;
  margin: 0;
}
html h1 {
  font-size: 2.875em;
  padding-top: 25px;
  padding-bottom: 20px;
}
html h2 {
  font-size: 2.250em;
}
html ul,
html ol {
  list-style: none;
}
html ul li,
html ol li {
  margin-top: 10px;
  margin-bottom: 10px;
}
html p + h3 {
  margin-top: 40px;
}
html b,
html strong {
  font-family: 'OpenSansSemibold', Arial;
}
html img {
  width: 100%;
}
html em {
  font-family: 'OpenSansItalic', Arial;
}
html body {
  background-color: #524134;
  background-image: url("../images/logo_big.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'OpenSansRegular', Arial;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.row {
  margin: auto;
  padding: 0 74px;
  max-width: 1024px;
}
.leather-bg {
  background-image: url("../images/leather_bg.jpg");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;
}
.cover-bg {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.scroll-panel {
  overflow: auto;
}
.scroll-panel::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  background-image: url("../images/scroll_bar_transparency.png");
}
.scroll-panel::-webkit-scrollbar-thumb {
  background-color: #ecd8a0;
}
.scroll-panel.no-scroll-bar::-webkit-scrollbar {
  width: 0;
}
.tablet-portrait-app .row {
  padding: 0 10px;
}
.smaller-then-tablet-app .row {
  padding: 0;
}
@media only screen and (max-width: 860px) {
  .row {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 648px) {
  .row {
    padding: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .row {
    padding: 0 10px;
  }
}
/* iPad in landscape */
.sprite-sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../images/sprite.png');
}
.sprite-characters_D {
  width: 34px;
  height: 34px;
  background-position: -2px -2px;
}
.sprite-characters_A {
  width: 24px;
  height: 34px;
  background-position: -38px -2px;
}
.sprite-characters_X {
  width: 34px;
  height: 34px;
  background-position: -2px -38px;
}
.sprite-characters_B {
  width: 24px;
  height: 34px;
  background-position: -38px -38px;
}
.sprite-characters_Y {
  width: 34px;
  height: 34px;
  background-position: -2px -74px;
}
.sprite-characters_J {
  width: 24px;
  height: 34px;
  background-position: -38px -74px;
}
.sprite-characters_Z {
  width: 34px;
  height: 34px;
  background-position: -2px -110px;
}
.sprite-characters_K {
  width: 24px;
  height: 34px;
  background-position: -38px -110px;
}
.sprite-characters_M {
  width: 33px;
  height: 34px;
  background-position: -2px -146px;
}
.sprite-characters_F {
  width: 25px;
  height: 34px;
  background-position: -37px -146px;
}
.sprite-characters_W {
  width: 32px;
  height: 34px;
  background-position: -2px -182px;
}
.sprite-characters_I {
  width: 26px;
  height: 34px;
  background-position: -36px -182px;
}
.sprite-characters_C {
  width: 31px;
  height: 34px;
  background-position: -2px -218px;
}
.sprite-characters_E {
  width: 27px;
  height: 34px;
  background-position: -35px -218px;
}
.sprite-characters_N {
  width: 31px;
  height: 34px;
  background-position: -2px -254px;
}
.sprite-characters_T {
  width: 27px;
  height: 34px;
  background-position: -35px -254px;
}
.sprite-characters_Q {
  width: 31px;
  height: 34px;
  background-position: -2px -290px;
}
.sprite-characters_G {
  width: 25px;
  height: 34px;
  background-position: -35px -290px;
}
.sprite-characters_U {
  width: 31px;
  height: 34px;
  background-position: -2px -326px;
}
.sprite-characters_R {
  width: 25px;
  height: 34px;
  background-position: -35px -326px;
}
.sprite-characters_O {
  width: 29px;
  height: 34px;
  background-position: -2px -362px;
}
.sprite-characters_S {
  width: 29px;
  height: 34px;
  background-position: -33px -362px;
}
.sprite-characters_V {
  width: 29px;
  height: 34px;
  background-position: -2px -398px;
}
.sprite-characters_H {
  width: 28px;
  height: 34px;
  background-position: -2px -434px;
}
.sprite-characters_L {
  width: 24px;
  height: 34px;
  background-position: -32px -434px;
}
.sprite-characters_P {
  width: 23px;
  height: 34px;
  background-position: -33px -398px;
}
.loadingping-container {
  z-index: 100;
  position: fixed;
  top: 40%;
  background-color: #291f16;
  padding: 20px;
  width: 100%;
  height: 7.5em;
}
.loadingping {
  margin: auto;
  width: 100%;
  height: 5em;
  text-align: center;
}
.loadingping .glyphicon-book {
  font-size: 3rem;
  color: #b3cf9e;
}
.loadingping .glyphicon-search {
  margin-left: -26px;
  font-size: 2rem;
  color: #fcecca;
  will-change: transform;
  -webkit-transform: translate(20%, 20%);
  -moz-transform: translate(20%, 20%);
  -o-transform: translate(20%, 20%);
  -ms-transform: translate(20%, 20%);
  transform: translate(20%, 20%);
  -webkit-animation: loadingPingSearchIconAnimation 1s ease-out 10ms infinite alternate;
  -moz-animation: loadingPingSearchIconAnimation 1s ease-out 10ms infinite alternate;
  -o-animation: loadingPingSearchIconAnimation 1s ease-out 10ms infinite alternate;
  animation: loadingPingSearchIconAnimation 1s ease-out 10ms infinite alternate;
}
@-webkit-keyframes loadingPingSearchIconAnimation {
  0% {
    -webkit-transform: translate(-20%, 20%);
    -moz-transform: translate(-20%, 20%);
    -o-transform: translate(-20%, 20%);
    -ms-transform: translate(-20%, 20%);
    transform: translate(-20%, 20%);
  }
  25% {
    -webkit-transform: translate(-20%, -20%);
    -moz-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
  }
  50% {
    -webkit-transform: translate(20%, -20%);
    -moz-transform: translate(20%, -20%);
    -o-transform: translate(20%, -20%);
    -ms-transform: translate(20%, -20%);
    transform: translate(20%, -20%);
  }
  75% {
    -webkit-transform: translate(20%, 20%);
    -moz-transform: translate(20%, 20%);
    -o-transform: translate(20%, 20%);
    -ms-transform: translate(20%, 20%);
    transform: translate(20%, 20%);
  }
  100% {
    -webkit-transform: translate(0, 20%);
    -moz-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    transform: translate(0, 20%);
  }
}
@-moz-keyframes loadingPingSearchIconAnimation {
  0% {
    -webkit-transform: translate(-20%, 20%);
    -moz-transform: translate(-20%, 20%);
    -o-transform: translate(-20%, 20%);
    -ms-transform: translate(-20%, 20%);
    transform: translate(-20%, 20%);
  }
  25% {
    -webkit-transform: translate(-20%, -20%);
    -moz-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
  }
  50% {
    -webkit-transform: translate(20%, -20%);
    -moz-transform: translate(20%, -20%);
    -o-transform: translate(20%, -20%);
    -ms-transform: translate(20%, -20%);
    transform: translate(20%, -20%);
  }
  75% {
    -webkit-transform: translate(20%, 20%);
    -moz-transform: translate(20%, 20%);
    -o-transform: translate(20%, 20%);
    -ms-transform: translate(20%, 20%);
    transform: translate(20%, 20%);
  }
  100% {
    -webkit-transform: translate(0, 20%);
    -moz-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    transform: translate(0, 20%);
  }
}
@-o-keyframes loadingPingSearchIconAnimation {
  0% {
    -webkit-transform: translate(-20%, 20%);
    -moz-transform: translate(-20%, 20%);
    -o-transform: translate(-20%, 20%);
    -ms-transform: translate(-20%, 20%);
    transform: translate(-20%, 20%);
  }
  25% {
    -webkit-transform: translate(-20%, -20%);
    -moz-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
  }
  50% {
    -webkit-transform: translate(20%, -20%);
    -moz-transform: translate(20%, -20%);
    -o-transform: translate(20%, -20%);
    -ms-transform: translate(20%, -20%);
    transform: translate(20%, -20%);
  }
  75% {
    -webkit-transform: translate(20%, 20%);
    -moz-transform: translate(20%, 20%);
    -o-transform: translate(20%, 20%);
    -ms-transform: translate(20%, 20%);
    transform: translate(20%, 20%);
  }
  100% {
    -webkit-transform: translate(0, 20%);
    -moz-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    transform: translate(0, 20%);
  }
}
@keyframes loadingPingSearchIconAnimation {
  0% {
    -webkit-transform: translate(-20%, 20%);
    -moz-transform: translate(-20%, 20%);
    -o-transform: translate(-20%, 20%);
    -ms-transform: translate(-20%, 20%);
    transform: translate(-20%, 20%);
  }
  25% {
    -webkit-transform: translate(-20%, -20%);
    -moz-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
  }
  50% {
    -webkit-transform: translate(20%, -20%);
    -moz-transform: translate(20%, -20%);
    -o-transform: translate(20%, -20%);
    -ms-transform: translate(20%, -20%);
    transform: translate(20%, -20%);
  }
  75% {
    -webkit-transform: translate(20%, 20%);
    -moz-transform: translate(20%, 20%);
    -o-transform: translate(20%, 20%);
    -ms-transform: translate(20%, 20%);
    transform: translate(20%, 20%);
  }
  100% {
    -webkit-transform: translate(0, 20%);
    -moz-transform: translate(0, 20%);
    -o-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    transform: translate(0, 20%);
  }
}
.loadingping .text {
  color: #fcecca;
}
.app-header {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  padding: 10px 0;
  /* iPad in landscape */
}
.app-header h1 {
  margin: 0;
  padding: 0;
  color: #fcecca;
  font-size: 3.625em;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 1px #141414;
  text-shadow: -1px -1px 0 #141414, 1px -1px 0 #141414, -1px 1px 0 #141414, 1px 1px 0 #141414;
}
.app-header .app-header-portrait-app h1 {
  font-size: 1.25em;
}
.app-header .app-header-smaller-than-tablet-app {
  padding: 0;
  height: 1px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.app-header .app-header-smaller-than-tablet-app h1 {
  font-size: 0.1em;
  text-indent: -1000em;
  width: 1px;
  height: 1px;
}
@media only screen and (max-width: 860px) {
  .app-header h1 {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 648px) {
  .app-header {
    padding: 0;
    height: 1px;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  .app-header h1 {
    font-size: 0.1em;
    text-indent: -1000em;
    width: 1px;
    height: 1px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .app-header h1 {
    font-size: 1.25em;
  }
}
.phonebook-container {
  width: 100%;
  height: 100%;
  /* iPad in landscape */
}
.phonebook-container .search-panel {
  background-color: #ecd8a0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}
.phonebook-container .search-panel ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #7d271d;
}
.phonebook-container .search-panel :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7d271d;
  opacity: 1;
}
.phonebook-container .search-panel ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7d271d;
  opacity: 1;
}
.phonebook-container .search-panel :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7d271d;
}
.phonebook-container .search-panel .form-container {
  padding: 10px 0;
}
.phonebook-container .search-panel input {
  background-color: #fcecca;
  border: 1px solid #7d271d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 36px;
  color: #141414;
}
.phonebook-container .search-panel .search-btn {
  background-color: #291f16;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fcecca;
  text-transform: uppercase;
  font-size: 1em;
}
.phonebook-container .search-panel .search-btn:hover,
.phonebook-container .search-panel .search-btn:focus {
  background-color: #4c3c2d;
}
.phonebook-container .search-panel .search-btn .glyphicon {
  display: none;
}
.phonebook-container .result-container {
  padding: 30px 0;
}
.phonebook-container .result-container .side-container {
  position: fixed;
}
.phonebook-container .result-container .card-list-container {
  overflow: auto;
  padding-left: 15px;
  width: 40%;
  max-width: 402px;
  height: 100%;
  max-height: 74%;
  text-align: center;
}
.phonebook-container .result-container .card-summary-container {
  left: 52%;
  width: 40%;
  max-width: 400px;
}
.phonebook-container .phone-book-max-width-860 .result-container .card-list-container {
  width: 50%;
  max-width: 400px;
  max-height: 84%;
}
.phonebook-container .phone-book-max-width-860 .result-container .card-summary-container {
  left: auto;
  width: 45%;
  max-width: 385px;
  right: 0;
  margin-right: 25px;
}
.phonebook-container .phone-book-portrait-app .result-container .card-summary-container {
  width: 43%;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel .col-xs-10 {
  padding-right: 0;
  width: 92%;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel .col-xs-2 {
  padding: 0;
  width: 6%;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel .search-btn {
  height: 36px;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel .search-btn.col-xs-12 {
  padding: 0;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel .search-btn .text {
  position: absolute;
  width: 1px;
  height: 1px;
  text-indent: -1000em;
}
.phonebook-container .phone-book-smaller-then-tablet-app .search-panel .search-btn .glyphicon {
  display: block;
}
.phonebook-container .phone-book-smaller-then-tablet-app .result-container {
  position: relative;
  top: 58px;
  padding: 0;
}
.phonebook-container .phone-book-smaller-then-tablet-app .result-container .card-list-container {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.phonebook-container .phone-book-smaller-then-tablet-app .result-container .card-list-container.showingCardSummary {
  display: none;
}
.phonebook-container .phone-book-smaller-then-tablet-app .result-container .card-summary-container {
  top: 58px;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
}
.phonebook-container .phone-book-width-smaller-than-500 .search-panel .col-xs-10 {
  width: 90%;
}
.phonebook-container .phone-book-width-smaller-than-500 .search-panel .col-xs-2 {
  width: 7%;
}
.phonebook-container .phone-book-width-smaller-than-356 .search-panel .col-xs-10 {
  padding-left: 10px;
  width: 85%;
}
.phonebook-container .phone-book-width-smaller-than-356 .search-panel .col-xs-2 {
  width: 12%;
}
@media only screen and (max-width: 860px) {
  .phonebook-container .result-container .card-list-container {
    width: 50%;
    max-width: 400px;
    max-height: 84%;
  }
  .phonebook-container .result-container .card-summary-container {
    left: auto;
    width: 45%;
    max-width: 385px;
    right: 0;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 832px) {
  .phonebook-container .result-container .card-summary-container {
    width: 43%;
  }
}
@media only screen and (max-width: 648px) {
  .phonebook-container .search-panel {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }
  .phonebook-container .search-panel .col-xs-10 {
    padding-right: 0;
    width: 92%;
  }
  .phonebook-container .search-panel .col-xs-2 {
    padding: 0;
    width: 6%;
  }
  .phonebook-container .search-panel .search-btn {
    height: 36px;
  }
  .phonebook-container .search-panel .search-btn.col-xs-12 {
    padding: 0;
  }
  .phonebook-container .search-panel .search-btn .text {
    position: absolute;
    width: 1px;
    height: 1px;
    text-indent: -1000em;
  }
  .phonebook-container .search-panel .search-btn .glyphicon {
    display: block;
  }
  .phonebook-container .result-container {
    position: relative;
    top: 58px;
    padding: 0;
  }
  .phonebook-container .result-container .card-list-container {
    position: relative;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .phonebook-container .result-container .card-list-container.showingCardSummary {
    display: none;
  }
  .phonebook-container .result-container .card-summary-container {
    top: 58px;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .phonebook-container .search-panel .col-xs-10 {
    width: 90%;
  }
  .phonebook-container .search-panel .col-xs-2 {
    width: 7%;
  }
}
@media only screen and (max-width: 356px) {
  .phonebook-container .search-panel .col-xs-10 {
    padding-left: 10px;
    width: 85%;
  }
  .phonebook-container .search-panel .col-xs-2 {
    width: 12%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .phonebook-container .result-container .card-summary-container {
    width: 43%;
  }
}
.phonecard {
  position: relative;
  display: block;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  background-color: #fcecca;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 8px 12px 8px 48px;
  color: #141414;
  font-family: 'OpenSansSemibold', Arial;
  text-align: left;
}
.phonecard:hover,
.phonecard:focus,
.phonecard.current {
  background-color: #f4bf56;
}
.phonecard .sprite-sprite {
  position: absolute;
  top: 3px;
  left: 4px;
}
.phonecard .phonecard-smaller-then-tablet-app {
  margin-right: 0;
  margin-bottom: 1px;
}
@media only screen and (max-width: 648px) {
  .phonecard {
    margin-right: 0;
    margin-bottom: 1px;
  }
}
.phone-card-summary {
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.75);
  border-bottom: 30px solid #291f16;
  width: 100%;
  height: 100%;
  /* iPad in landscape */
}
.phone-card-summary .top-bar {
  padding: 3px 5px;
  height: 30px;
  font-size: 1.25em;
  text-align: right;
}
.phone-card-summary .top-bar.leather-bg {
  background-size: cover;
}
.phone-card-summary .top-bar .btn-close {
  color: #fcecca;
}
.phone-card-summary .top-bar .btn-close:hover,
.phone-card-summary .top-bar .btn-close:focus {
  color: #fae1af;
}
.phone-card-summary .inner-container {
  -webkit-box-shadow: 0 2px 3px #000000;
  -moz-box-shadow: 0 2px 3px #000000;
  box-shadow: 0 2px 3px #000000;
  background-color: #fcecca;
  padding: 20px 20px 40px 20px;
  font-size: 1.125em;
  width: 100%;
  height: 100%;
  min-height: 200px;
}
.phone-card-summary .inner-container p:last-child {
  margin-bottom: 0;
}
