.phonebook-container
  //- ------------------------- Loading ping -------------------------
  div(data-loading-ping,data-js-class="setLoadingPingClass()")

  //--------------------------- Search bar ---------------------------
  .search-panel
    header(data-app-header)
    .form-container
      form.row(role="form", onSubmit="return false;", class="searchForm")
        fieldset
          .col-xs-10
            label.sr-only(for='query') Enter search terms
            input#query.form-control(type='text', data-jq-placeholder,
            placeholder='Search for people and departments',
            data-js-model='query', data-js-keydown="onInputKeydown($event)")
          .col-xs-2
            button.search-btn.btn.col-xs-12.appended-btn-style(type='button', data-js-click='onClickBtnSearch()')
              span.text Search
              span.glyphicon.glyphicon-search

  .col-md-12.result-container
    .row
      //- -------------------------- card list holder ---------------------
      .side-container.scroll-panel.card-list-container(data-js-class="setCardListClass()")
        .phonecard-container(data-js-repeat="result in results",
        data-phone-card, data-item="result")

      //- -------------------------- card summary holder ---------------------
      .side-container.card-summary-container(data-js-show="viewingCardSummary",
      data-phone-card-summary)


