.phonebook-container{
  @searchPanelGgColor: @color3rd;
  @inputBorderColor: @color1st;
  @inputBgColor: @color2nd;
  @searchBtnBgColor: @color4th;
  @searchBtnFontColor: @color2nd;
  width: 100%;
  height: 100%;

  .search-panel{
    background-color: @searchPanelGgColor;
    .drop-shadow(0, 2px, 2px, 0.75);
    .setInputPlaceHolderColor(@inputBorderColor);

    .form-container{
      padding: 10px 0;
    }

    input{
      background-color: @inputBgColor;
      border: 1px solid @inputBorderColor;
      .rounded(0);
      height: 36px;
      color: @fontDefaultColor;
    }

    .search-btn{
      background-color: @searchBtnBgColor;
      .rounded(0);
      color: @searchBtnFontColor;
      text-transform: uppercase;
      font-size: 1em;
      &:hover, &:focus{
        background-color: #4c3c2d;
      }
      .glyphicon{
        display: none;
      }
    }
  }

  .result-container{
    padding: 30px 0;
    .side-container{
      position: fixed;
    }

    .card-list-container{
      overflow: auto;
      padding-left: 15px;
      width: 40%;
      max-width: 402px;
      height: 100%;
      max-height: 74%;
      text-align: center;
    }

    .card-summary-container{
      left: 52%;
      width: 40%;
      max-width: 400px;
    }

  }

  //--------------------------------- responsive styles ----------------------------
  .phone-book-landscape-app{

  }

  .phone-book-max-width-860{
    .result-container{
      .card-list-container{
        width: 50%;
        max-width: 400px;
        max-height: 84%;
      }
      .card-summary-container{
        left: auto;
        width: 45%;
        max-width: 385px;
        right: 0;
        margin-right: 25px;
      }
    }
  }

  .phone-book-portrait-app{
    .result-container{
      .card-summary-container{
        width: 43%;
      }
    }
  }

  .phone-book-smaller-then-tablet-app{
    .search-panel{
      position: fixed;
      top: 0;
      z-index: 10;
      width: 100%;
      .col-xs-10{
        padding-right: 0;
        width: 92%;
      }
      .col-xs-2{
        padding: 0;
        width: 6%;
      }
      .search-btn{
        height: 36px;
        &.col-xs-12{
          padding: 0;
        }
        .text{
          position: absolute;
          width: 1px;
          height: 1px;
          text-indent: -1000em;
        }
        .glyphicon{
          display: block;
        }
      }
    }
    .result-container{
      position: relative;
      top: 58px;
      padding: 0;
      .card-list-container{
        position: relative;
        padding: 0;
        width: 100%;
        max-width: 100%;
        &.showingCardSummary{
          display: none;
        }
      }
      .card-summary-container{
        top: 58px;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        min-width: 100%;
        height: 100%;
      }
    }
  }

  .phone-book-width-smaller-than-500{
    .search-panel{
      .col-xs-10{
        width: 90%;
      }
      .col-xs-2{
        width: 7%;
      }
    }
  }

  .phone-book-width-smaller-than-356{
    .search-panel{
      .col-xs-10{
        padding-left: 10px;
        width: 85%;
      }
      .col-xs-2{
        width: 12%;
      }
    }
  }

  @media only screen and (max-width: 1025px){
    .phone-book-landscape-app;
  }

  @media only screen and (max-width: 860px){
    .phone-book-max-width-860;
  }

  @media only screen and (max-width: 832px){
    .phone-book-portrait-app;
  }

  @media only screen and (max-width: 648px){
    .phone-book-smaller-then-tablet-app;
  }

  @media only screen and (max-width: 500px){
    .phone-book-width-smaller-than-500;
  }

  @media only screen and (max-width: 356px){
    .phone-book-width-smaller-than-356;
  }

  // iPad in portrait
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    .phone-book-portrait-app;
  }

  /* iPad in landscape */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
    .phone-book-landscape-app;
  }


}