//Reference: this less library file is the collection of the code
//from Google search and from projects I have been done so far.

.setTransitionDelay(@duration:400ms){
  -webkit-transition-delay: @duration; /* Safari */
  -o-transition-delay:      @duration; /* Opera */
  -moz-transition-delay:    @duration; /* Firefox */
  transition-delay:         @duration;
}

.background-size(@size: auto){
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

.animation(@args){
  -webkit-animation: @args;
  -moz-animation: @args;
  -o-animation: @args;
  animation: @args;
}

.cubic-bezier(@easing, @duration: 400ms){
  -webkit-transition: all @duration @easing;
  -moz-transition: all @duration @easing;
  -o-transition: all @duration @easing;
  transition: all @duration @easing; /* linear */

  -webkit-transition-timing-function: @easing;
  -moz-transition-timing-function: @easing;
  -o-transition-timing-function: @easing;
  transition-timing-function: @easing; /* linear */
}

.enableGPUAcceleration(){
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* Other transform properties here */
}

.setContainerInnerShadow(@horizontal:0, @vertical:1px, @blur:2px, @color: rgba(0, 0, 0, 0.4)){
  -webkit-box-shadow: inset @horizontal @vertical @blur @color;
  -moz-box-shadow: inset @horizontal @vertical @blur @color;
  box-shadow: inset @horizontal @vertical @blur @color;
}

.setContainerOuterShadow(@x-axis: 0, @y-axis: 0, @blur: 2px, @color: rgba(0, 0, 0, 0.3)){
  -webkit-box-shadow: @x-axis @y-axis @blur @color;
  -moz-box-shadow: @x-axis @y-axis @blur @color;
  box-shadow: @x-axis @y-axis @blur @color;
}

.setTextShadow(@x:0,@y:0,@blur:1px,@color:rgba(0,0,0,0.75)){
  -webkit-text-shadow: @x @y @blur @color;
  -moz-text-shadow: @x @y @blur @color;
  text-shadow: @x @y @blur @color;
}

.setTransformOrigin(@position: 0 0 0 ){
  -webkit-transform-origin:   @position;
  -moz-transform-origin:      @position;
  -o-transform-origin:        @position;
  -ms-transform-origin:       @position;
  transform-origin:           @position;
}

.setTransitionDelay(@duration:600ms){
  -webkit-transition-delay: @duration; /* Safari */
  transition-delay: @duration;
}

.setFullScreenBackgroundImage(){
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.setTextStroke(@width:1px,@color:#000){
  -webkit-text-stroke: 1px @color;
  text-shadow:
    -@width -@width 0 @color,
    @width -@width 0 @color,
    -@width @width 0 @color,
    @width @width 0 @color;
}

//Reference: From google search
.setInputPlaceHolderColor(@color:black){
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   @color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @color;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    @color;
  }
}
