html{
  //overwrite bootstrap style, set default
  background-color: @defaultPageBgColor;
  //android browser scroll enhance
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: @fontDefault;
  line-height: @defaultLineHeight;

  iframe{
    border: none ;
  }
  a{
    cursor: pointer;
    text-decoration: none;
    color: @fontDefaultColor;
    &:hover,&:focus{
      color: @fontDefaultColor;
      text-decoration: none;
    }
  }
  h1,h2,h3{
    font-family: @fontTitle;
    margin: 0;
  }
  h1{
    font-size: 2.875em;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  h2{
    font-size: 2.250em;
  }
  ul, ol{
    list-style: none;
    li{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  p+h3{
    margin-top: @defaultSpace*2;
  }
  b, strong{
    font-family: @fontDefaultBold;
  }
  img{
    width:100%;
  }
  em{
    font-family: @fontDefaultItalic;
  }

  body{
    background-color: @defaultPageBgColor;
    background-image: url("../images/logo_big.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: @fontDefault;

  }

}

//---------------------------- default selectors style ----------------------------
.show{
  display: block;
}
.hide{
  display: none;
}

.row{
  margin: auto;
  padding: 0 74px;
  max-width: 1024px;
}

.leather-bg{
  background-image: url("../images/leather_bg.jpg");
  background-repeat: repeat-x;
  background-position: center center;
  background-size: contain;
}

.cover-bg{
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+$scope.url+", sizingMethod=scale)"
  //  filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+$scope.url+", sizingMethod='scale'"
}

.scroll-panel{
  overflow: auto;
  &::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 8px;
    background-image: url("../images/scroll_bar_transparency.png");
  }
  &::-webkit-scrollbar-thumb {
    background-color: @scrollBarColor;
  }
  &.no-scroll-bar{
    &::-webkit-scrollbar{
      width: 0;
    }
  }
}

//--------------------------------- responsive styles ----------------------------
.tablet-landscape-app{

}

.tablet-portrait-app{
  .row{
    padding: 0 10px;
  }
}

.smaller-then-tablet-app{
  .row{
    padding: 0;
  }
}

@media only screen and (max-width: 1025px){
  .tablet-landscape-app;
}

@media only screen and (max-width: 860px){
  .tablet-portrait-app;
}

@media only screen and (max-width: 648px){
  .smaller-then-tablet-app;
}

// iPad in portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .tablet-portrait-app;
}

/* iPad in landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .tablet-landscape-app;
}