//
// Created with TexturePacker http://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:4d0af3676323149053ee045103d33074:66bae89bbe4d0cbb5482a2098a8f874b:9460d3534afb45b4e07269595334f5ab$
//

.sprite-sprite { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../images/sprite.png'); }

.sprite-characters_D { width: 34px; height: 34px; background-position: -2px -2px; }
.sprite-characters_A { width: 24px; height: 34px; background-position: -38px -2px; }
.sprite-characters_X { width: 34px; height: 34px; background-position: -2px -38px; }
.sprite-characters_B { width: 24px; height: 34px; background-position: -38px -38px; }
.sprite-characters_Y { width: 34px; height: 34px; background-position: -2px -74px; }
.sprite-characters_J { width: 24px; height: 34px; background-position: -38px -74px; }
.sprite-characters_Z { width: 34px; height: 34px; background-position: -2px -110px; }
.sprite-characters_K { width: 24px; height: 34px; background-position: -38px -110px; }
.sprite-characters_M { width: 33px; height: 34px; background-position: -2px -146px; }
.sprite-characters_F { width: 25px; height: 34px; background-position: -37px -146px; }
.sprite-characters_W { width: 32px; height: 34px; background-position: -2px -182px; }
.sprite-characters_I { width: 26px; height: 34px; background-position: -36px -182px; }
.sprite-characters_C { width: 31px; height: 34px; background-position: -2px -218px; }
.sprite-characters_E { width: 27px; height: 34px; background-position: -35px -218px; }
.sprite-characters_N { width: 31px; height: 34px; background-position: -2px -254px; }
.sprite-characters_T { width: 27px; height: 34px; background-position: -35px -254px; }
.sprite-characters_Q { width: 31px; height: 34px; background-position: -2px -290px; }
.sprite-characters_G { width: 25px; height: 34px; background-position: -35px -290px; }
.sprite-characters_U { width: 31px; height: 34px; background-position: -2px -326px; }
.sprite-characters_R { width: 25px; height: 34px; background-position: -35px -326px; }
.sprite-characters_O { width: 29px; height: 34px; background-position: -2px -362px; }
.sprite-characters_S { width: 29px; height: 34px; background-position: -33px -362px; }
.sprite-characters_V { width: 29px; height: 34px; background-position: -2px -398px; }
.sprite-characters_H { width: 28px; height: 34px; background-position: -2px -434px; }
.sprite-characters_L { width: 24px; height: 34px; background-position: -32px -434px; }
.sprite-characters_P { width: 23px; height: 34px; background-position: -33px -398px; }
