@imageBaseUrl : '../../assets/images';

@maxScreenWidth: 1024px;
@defaultLineHeight: 1.5;
@defaultSpace: 20px;

//------------- fonts -----------------
@fontDefault: 'OpenSansRegular', Arial;
@fontDefaultBold: 'OpenSansSemibold', Arial;
@fontDefaultItalic: 'OpenSansItalic', Arial;
@fontTitle: 'BowlbyOne', Arial;

//------------ colors -----------------
@color1st: #7d271d;
@color2nd: #FCECCA;
@color3rd: #ECD8A0;
@color4th: #291f16;
@color5th: #b3cf9e;
@color6th: #f4bf56; //btn hover color;

@scrollBarColor: @color3rd;
@btnHoverColor: @color6th;
@btnDefaultColor: @color2nd;
@defaultPageBgColor: #524134;
@fontDefaultColor: #141414;

